/* Header */
.card-panel {
    margin: 0 auto 2px;
}
.row {
    margin-bottom: 0;
}
.nav-wrapper svg {
    margin-top: max(2%, 15px);
}
nav ul a {
    color:  #B4604D;
}
nav a {
    margin: auto 1%;
    color:  #B4604D;
}
nav .brand-logo img {
    max-width: 90%;
    padding: 7%;
}
.header {
    height: min(435px, 45vw);
    background-image: url(../img/header-img.jpg);
    background-position: center;
    background-size: cover;
}
.header .btn {
    margin-top: 27%;
}
/* Ready */
.ready .col {
    padding-left: 5%;
}
.ready h4 {
    margin: 3% auto 5%;
}